    :root {
      font-family: Arial, sans-serif;
      --white: white;
      --smoke: whitesmoke;
      --lightblue: aliceblue;
      --grey: silver;
      --left: dodgerblue;
      --right: mediumspringgreen;
      --blue: darkturquoise;

      --pad1: 0.25rem;
      --pad2: 0.5rem;
    }

    body {
      margin: 0;
    }

    /* attributes */

    /* classes */

    button.transparent {
      opacity: 0.8;
    }
